* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/*MY VOKGE*/

body {
  box-sizing: border-box;
}

.container {
  max-height: 100vh;
  display: grid;
  grid-template: 1fr 1fr 20fr 1fr/ 1fr 4fr ; /*They put nothing for rows*/
  gap: 4px;
  /* align-items: stretch; NOT in solution */
  /* justify-self: stretch; NOT in solution */
}

.header {
  grid-column: 1 /-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 2fr; /*DID 2fr instead of 4*/
  align-items: center; /*Was put in .menu*/
  /* height: min-content; NOT in solution */
}

.logo {
  justify-self: start;
  white-space: nowrap;  /*NOT in solution*/
}

.menu > ul {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: repeat(4,minmax(100px, 1fr));  /*Didnt set min in solution*/
  justify-self: right;
  width: clamp(400px, 80%, 1500px); /*This part was imperative to achieving the desired behaviour of dynamic spacing*/
}

.menu > ul > li {
  margin-right: 40px; /*NOT in solution*/
  /* min-width: min-content; NOT in solution */
  /* padding: 0px 10vw 0px; */
}


ul > li {
  list-style-type: none;
}

.sidebar {
  grid-row: 2/-2;
  grid-column: 1 auto ;
  display: grid;
  gap: 50px;
  min-width: 200px;
  text-align: center;
}

div.photo {
  padding: 0px;
}

img {
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.nav {  /*NOT in solution*/
  grid-column: 2 /-1;
  grid-row: 2;
  /* height: min-content; */
  justify-self: stretch;
}

.nav > ul { /*SAME as solution*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.article {
  grid-column: 2 /-1;
  grid-row: 3;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow: auto;
  align-content:start;
}

.card {
  height: 200px;  /*SAME as solution*/
}

.footer {
  grid-column: 1 /-1;
  grid-row: 4;
  height: min-content; /*NOT in solution*/
}

/*Missed*/
.card p {
  padding: 5px;
}